<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<title>Mello Trainer Example</title>
        <!-- (BootStrap) -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

    	<style>
			/* Space out content a bit */
			body,.container {
			  padding-top: 5rem;
			  padding-bottom: 1.5rem;
			}

			/* Make the masthead heading the same height as the navigation */
			.header h3 {
			  margin-top: 0;
			  margin-bottom: 0;
			  line-height: 3rem;
			}

			/* Custom page footer */
			.footer {
				padding-top: 1.5rem;
				color: #777;
				border-top: .05rem solid #e5e5e5;
				padding-right: 1rem;
				padding-left: 1rem;
				text-align: center;
			}


    		.hidden{
    			display: none;
    		}

			.toggle {
			    border: 1px solid black;
			    margin: 3px;
			    text-align: center;
			    font-size: 32px;
			}

    	</style>
    </head>
    <body ng-app="MelloTrainerApp">


	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/index.html">TheStonedTurtle</a>

		<div class="collapse navbar-collapse" id="mainNav">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
		    <a class="nav-link" href="/index.html">Home</a>
		  </li>
		  <li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" id="mainNavDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Projects</a>
		    <div class="dropdown-menu" aria-labelledby="mainNavDropdown">
		      <a class="dropdown-item active" href="#">Mello Trainer</a>
		      <a class="dropdown-item" href="https://github.com/TheStonedTurtle/FiveM-RPDeath" target="_blank">RPDeath</a>
		      <a class="dropdown-item" href="https://github.com/TheStonedTurtle/FiveM-Hospital" target="_blank">Hospital</a>
		      <a class="dropdown-item" href="https://github.com/TheStonedTurtle/FiveM-PercentLoadScreen/releases" target="_blank">Percent Load Screen</a>
		    </div>
		  </li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		  <input class="form-control mr-sm-2" type="text" placeholder="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		</div>
	</nav>

	    <div class="container">
			<h1>Mello Trainer JSON Info</h1>

			<div id="accordion" role="tablist" aria-multiselectable="true" ng-controller="JSONEditorController">

				<div class="card" ng-repeat="data in myinfo">
					<div ng-include="'subTemplate.html'">
				</div>

			</div>
		</div>

		<footer class="footer">
			<p>&copy; Michael Goodwin 2017</p>
		</footer>

    </body>



<script type="text/ng-template" id="subTemplate.html">
<div class="card">
	<div class="card-header" role="tab">
  		<h5 class="mb-0">
    		<span data-toggle="collapse" href="#{{ (subdata.menuName || '')+data.menuName | underscoreme }}">
      			{{data.menuName}}
    		</span>
  		</h5>
	</div>

	<div id="{{ (subdata.menuName || '')+data.menuName | underscoreme }}" class="collapse" role="tabpanel">
  		<div class="card-block">
  			<div ng-if="data.submenu.length">
				{{data.subMenu}}
				<div ng-repeat="subdata in data.submenu" ng-include="'subTemplate2.html'">

				</div>
			</div>

			<div ng-if="data.submenu == undefined || data.submenu.length == 0">
				<div ng-bind="data.menuName"></div>
				<div ng-bind="data.data"></div>
				<div ng-bind="data.weaponName"></div>
				<div ng-bind="data.weapon"></div>
			</div>
  		</div>
	</div>
</div>
</script>


<script type="text/ng-template" id="subTemplate2.html">
<div class="card">
	<div class="card-header" role="tab">
  		<h5 class="mb-0">
    		<span data-toggle="collapse" href="#{{ data.menuName+subdata.menuName | underscoreme }}">
      			{{subdata.menuName}}
    		</span>
  		</h5>
	</div>

	<div id="{{data.menuName+subdata.menuName | underscoreme }}" class="collapse" role="tabpanel">
  		<div class="card-block">
  			<div ng-if="subdata.submenu.length">
				{{subdata.subMenu}}
				<div ng-repeat="data in subdata.submenu" ng-include="'subTemplate.html'">

				</div>
			</div>

			<div ng-if="subdata.submenu == undefined || subdata.submenu.length == 0">
				<div ng-bind="subdata.menuName"></div>
				<div ng-bind="subdata.data"></div>
				<div ng-bind="subdata.weaponName"></div>
				<div ng-bind="subdata.weapon"></div>
			</div>
  		</div>
	</div>
</div>
</script>



	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="/views/mellotrainer/main.js" type="text/javascript"></script>
</html>